.btn2 {
	background-color: #4CAF50;
	/* Hijau */
	border: none;
	color: white;
	padding: 10px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 2px;
	cursor: pointer;
}

.btn2:hover {
	opacity: 0.9;
}

.btn3 {
	background-color: red;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 2px;
	cursor: pointer;
}

.btn3:hover {
	opacity: 0.9;
}
