@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2)format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2)format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a,
    abbr,
    acronym,
    address,
    applet,
    b,
    big,
    blockquote,
    body,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    dfn,
    div,
    dl,
    dt,
    em,
    fieldset,
    font,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    object,
    p,
    pre,
    q,
    s,
    samp,
    small,
    span,
    strike,
    strong,
    sub,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr,
    tt,
    u,
    ul,
    var {
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: 0 0;
        text-decoration: none
    }

    form,
    textarea,
    input,
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0
    }

    dl,
    ul {
        list-style-position: inside;
        font-weight: 400;
        list-style: none
    }

    ul li {
        list-style: none
    }

    caption,
    th {
        text-align: center
    }

    img {
        border: none;
        position: relative
    }

    a,
    a:visited {
        text-decoration: none
    }

    .clearfix {
        clear: both
    }

    .section,
    .widget,
    .widget ul {
        margin: 0;
        padding: 0
    }

    a {
        color: #222222
    }

    a:hover {
        color: #f31e1e
    }

    a img {
        border: 0
    }

    abbr {
        text-decoration: none
    }

    .CSS_LIGHTBOX {
        z-index: 999999 !important
    }

    .separator a {
        clear: none !important;
        float: none !important;
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    #navbar-iframe,
    .widget-item-control,
    a.quickedit,
    .home-link,
    .feed-links {
        display: none !important
    }

    .center {
        display: table;
        margin: 0 auto;
        position: relative
    }

    .widget>h2,
    .widget>h3 {
        display: none
    }

    body {
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #888888;
        word-wrap: break-word;
        margin: 0;
        padding: 0
    }

    .row {
        width: 1000px
    }

    #content-wrapper {
        float: left;
        width: 100%;
        margin: 65px 0
    }

    .item #content-wrapper {
        margin: 40px 0
    }

    #content-wrapper>.container {
        position: relative;
        margin: 0 auto
    }

    #main-wrapper {
        overflow: hidden;
        padding: 0;
        margin: 0 -7px
    }

    .item #main-wrapper {
        margin: 0
    }

    #sidebar-wrapper {
        display: none
    }

    .post-image-wrap {
        position: relative;
        display: block
    }

    .post-image-link:hover:after,
    .post-image-wrap:hover .post-image-link:after {
        opacity: 1
    }

    .post-image-link,
    .comments .avatar-image-container {
        background-color: #f9f9f9
    }

    .post-thumb {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        color: transparent;
        object-fit: cover;
        z-index: 1;
        transition: opacity .17s ease
    }

    .widget-title>h3 {
        display: none
    }

    .social a:before {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400
    }

    .social .facebook a:before {
        content: "\f230"
    }

    .social .facebook-f a:before {
        content: "\f09a"
    }

    .social .twitter a:before {
        content: "\f099"
    }

    .social .gplus a:before {
        content: "\f0d5"
    }

    .social .rss a:before {
        content: "\f09e"
    }

    .social .youtube a:before {
        content: "\f16a"
    }

    .social .skype a:before {
        content: "\f17e"
    }

    .social .stumbleupon a:before {
        content: "\f1a4"
    }

    .social .tumblr a:before {
        content: "\f173"
    }

    .social .vk a:before {
        content: "\f189"
    }

    .social .stack-overflow a:before {
        content: "\f16c"
    }

    .social .github a:before {
        content: "\f09b"
    }

    .social .linkedin a:before {
        content: "\f0e1"
    }

    .social .dribbble a:before {
        content: "\f17d"
    }

    .social .soundcloud a:before {
        content: "\f1be"
    }

    .social .behance a:before {
        content: "\f1b4"
    }

    .social .digg a:before {
        content: "\f1a6"
    }

    .social .instagram a:before {
        content: "\f16d"
    }

    .social .pinterest a:before {
        content: "\f0d2"
    }

    .social .pinterest-p a:before {
        content: "\f231"
    }

    .social .twitch a:before {
        content: "\f1e8"
    }

    .social .delicious a:before {
        content: "\f1a5"
    }

    .social .codepen a:before {
        content: "\f1cb"
    }

    .social .reddit a:before {
        content: "\f1a1"
    }

    .social .whatsapp a:before {
        content: "\f232"
    }

    .social .snapchat a:before {
        content: "\f2ac"
    }

    .social .email a:before {
        content: "\f0e0"
    }

    .social .external-link a:before {
        content: "\f14c"
    }

    .social-color .facebook a,
    .social-color .facebook-f a {
        background-color: #3b5999
    }

    .social-color .twitter a {
        background-color: #00acee
    }

    .social-color .gplus a {
        background-color: #db4a39
    }

    .social-color .youtube a {
        background-color: #db4a39
    }

    .social-color .instagram a {
        background-color: #bc3490
    }

    .social-color .pinterest a,
    .social-color .pinterest-p a {
        background-color: #ca2127
    }

    .social-color .dribbble a {
        background-color: #ea4c89
    }

    .social-color .linkedin a {
        background-color: #0077b5
    }

    .social-color .tumblr a {
        background-color: #365069
    }

    .social-color .twitch a {
        background-color: #6441a5
    }

    .social-color .rss a {
        background-color: #ffc200
    }

    .social-color .skype a {
        background-color: #00aff0
    }

    .social-color .stumbleupon a {
        background-color: #eb4823
    }

    .social-color .vk a {
        background-color: #4a76a8
    }

    .social-color .stack-overflow a {
        background-color: #f48024
    }

    .social-color .github a {
        background-color: #24292e
    }

    .social-color .soundcloud a {
        background-color: #ff5400
    }

    .social-color .behance a {
        background-color: #191919
    }

    .social-color .digg a {
        background-color: #1b1a19
    }

    .social-color .delicious a {
        background-color: #0076e8
    }

    .social-color .codepen a {
        background-color: #000
    }

    .social-color .reddit a {
        background-color: #ff4500
    }

    .social-color .whatsapp a {
        background-color: #3fbb50
    }

    .social-color .snapchat a {
        background-color: #ffe700
    }

    .social-color .email a {
        background-color: #888
    }

    .social-color .external-link a {
        background-color: #222222
    }

    #header-wrap {
        position: relative;
        width: 100%;
        height: 68px;
        background-color: #222222;
        z-index: 1010;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05)
    }

    #header-wrap .container {
        margin: 0 auto;
        position: relative
    }

    .header-logo {
        position: relative;
        float: left;
        height: 38px;
        margin: 15px 0 0
    }

    .header-logo .header-brand {
        display: inline-block;
        line-height: 0
    }

    .header-logo img {
        max-width: 100%;
        height: 38px;
        vertical-align: middle
    }

    .header-logo h1 {
        color: #222222;
        font-size: 20px;
        line-height: 38px;
        margin: 0
    }

    .header-logo p {
        font-size: 12px;
        margin: 5px 0 0
    }

    #main-menu {
        float: right
    }

    #main-menu .widget,
    #main-menu .widget>.widget-title {
        display: none
    }

    #main-menu .show-menu {
        display: block
    }

    #main-menu {
        position: relative;
        height: 68px;
        z-index: 15
    }

    #main-menu ul>li {
        float: left;
        position: relative;
        margin: 0;
        padding: 0;
        transition: color .17s
    }

    #main-menu ul>li>a {
        position: relative;
        color: #f2f2f2;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 68px;
        display: inline-block;
        text-decoration: none;
        padding: 0 10px;
        margin: 0 0 0 5px;
        transition: color .17s
    }

    #main-menu #main-menu-nav>li:last-child>a {
        padding: 0 0 0 10px
    }

    #main-menu ul>li>a:hover {
        color: #f31e1e
    }

    #main-menu ul>li>ul {
        position: absolute;
        float: left;
        left: 0;
        top: 68px;
        width: 180px;
        background-color: #222222;
        z-index: 99999;
        margin-top: 0;
        padding: 0;
        visibility: hidden;
        opacity: 0
    }

    #main-menu ul>li>ul>li>ul {
        position: absolute;
        float: left;
        top: 0;
        left: 100%;
        margin-left: 0
    }

    #main-menu ul>li>ul>li {
        display: block;
        float: none;
        position: relative;
        transition: background .17s ease
    }

    #main-menu ul>li>ul>li a {
        display: block;
        height: 34px;
        font-size: 11px;
        color: #f2f2f2;
        line-height: 34px;
        box-sizing: border-box;
        padding: 0 15px;
        margin: 0
    }

    #main-menu ul>li>ul>li:hover {
        background-color: #f31e1e
    }

    #main-menu ul>li>ul>li:hover>a {
        color: #fff
    }

    #main-menu ul>li.has-sub>a:after {
        content: '\f107';
        float: right;
        font-family: FontAwesome;
        font-size: 12px;
        font-weight: 400;
        margin: 0 0 0 6px
    }

    #main-menu ul>li>ul>li.has-sub>a:after {
        content: '\f105';
        float: right;
        margin: 0
    }

    #main-menu ul>li:hover>ul,
    #main-menu ul>li>ul>li:hover>ul {
        visibility: visible;
        opacity: 1
    }

    #main-menu ul ul {
        transition: all .17s ease
    }

    .mobile-menu-toggle {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 68px;
        line-height: 68px;
        z-index: 20;
        color: #f2f2f2;
        font-size: 21px;
        font-weight: 400;
        text-align: left;
        cursor: pointer;
        padding: 0 0 0 20px;
        transition: color .17s ease
    }

    .mobile-menu-toggle:before {
        content: "\f0c9";
        font-family: FontAwesome
    }

    .nav-active .mobile-menu-toggle:before {
        content: "\f00d";
        font-family: FontAwesome
    }

    .mobile-menu-toggle:hover {
        color: #f31e1e
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 990;
        background: rgba(0, 0, 0, 0.8)
    }

    .mobile-menu-wrap {
        display: none
    }

    .mobile-menu {
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        background-color: #222222;
        box-sizing: border-box;
        visibility: hidden;
        z-index: 1000;
        opacity: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        transition: all .17s ease
    }

    .nav-active .mobile-menu {
        visibility: visible;
        opacity: 1
    }

    .mobile-menu>ul {
        margin: 0
    }

    .mobile-menu .m-sub {
        display: none;
        padding: 0
    }

    .mobile-menu ul li {
        position: relative;
        display: block;
        overflow: hidden;
        float: left;
        width: 100%;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 38px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05)
    }

    .mobile-menu ul li:last-child {
        border-bottom: 0
    }

    .mobile-menu>ul li ul {
        overflow: hidden
    }

    .mobile-menu ul li a {
        color: #f2f2f2;
        padding: 0 20px;
        display: block;
        transition: all .17s ease
    }

    .mobile-menu ul li a:hover {
        color: #f31e1e
    }

    .mobile-menu ul li.has-sub .submenu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        color: #f2f2f2;
        cursor: pointer;
        border-left: 1px solid rgba(255, 255, 255, 0.05)
    }

    .mobile-menu ul li.has-sub .submenu-toggle:after {
        content: '\f105';
        font-family: FontAwesome;
        font-weight: 400;
        float: right;
        width: 38px;
        font-size: 16px;
        line-height: 38px;
        text-align: center;
        transition: all .17s ease
    }

    .mobile-menu ul li.has-sub .submenu-toggle:hover {
        color: #f31e1e
    }

    .mobile-menu ul li.has-sub.show>.submenu-toggle:after {
        transform: rotate(90deg)
    }

    .mobile-menu ul li ul li:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.05)
    }

    .mobile-menu ul li ul li {
        background-color: rgba(255, 255, 255, 0.05)
    }

    #intro-wrap {
        display: none;
        position: relative;
        float: left;
        width: 100%;
        z-index: 2;
        margin: 0
    }

    #main-intro {
        position: relative;
        float: left;
        width: 100%;
        height: 580px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #f8f8f8
    }

    #main-intro .widget {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        display: block;
        overflow: hidden
    }

    .intro-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 520px;
        text-align: center;
        margin: 0
    }

    .intro-title {
        font-size: 37px;
        color: #ffffff;
        font-weight: 700;
        margin: 0 0 30px
    }

    .intro-snippet {
        font-size: 14px;
        line-height: 25px;
        color: #bbbbbb;
        margin: 0
    }

    .intro-action a {
        display: inline-block;
        height: 40px;
        background-color: #f31e1e;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        padding: 0 25px;
        margin: 30px 0 0;
        border-radius: 3px;
        transition: background .17s ease
    }

    .intro-action a:hover {
        background-color: #222222
    }

    #intro-author-wrap {
        display: none;
        position: relative;
        float: left;
        width: 100%;
        padding: 75px 0;
        margin: 0
    }

    #intro-author-wrap .container {
        position: relative;
        margin: 0 auto
    }

    #intro-author-photo {
        position: relative;
        float: left;
        width: 40%;
        height: 400px;
        box-sizing: border-box;
        padding: 0 60px 0 0
    }

    #intro-author-photo .author-image {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0
    }

    #intro-author {
        position: relative;
        float: right;
        width: 60%
    }

    .author-title {
        display: block;
        font-size: 27px;
        color: #222222;
        font-weight: 700;
        margin: 15px 0 20px
    }

    .author-snippet {
        font-size: 14px;
        line-height: 24px;
        margin: 0
    }

    .skill-item {
        float: left;
        width: 100%;
        margin: 25px 0 0
    }

    .skill-name {
        float: left;
        font-size: 11px;
        color: #222222;
        font-weight: 600;
        text-transform: uppercase;
        margin: 7px 0 0
    }

    .skill-percent {
        float: right;
        font-size: 11px;
        color: #222222;
        font-weight: 600;
        text-transform: uppercase;
        margin: 7px 0 0
    }

    .slill-note {
        display: block;
        width: 100%;
        height: 6px;
        background: #f2f2f2;
        border-radius: 6px
    }

    .skill-progress {
        display: block;
        float: left;
        width: 0;
        height: 6px;
        background-color: #f31e1e;
        border-radius: 6px;
        transition: all 1s ease
    }

    #intro-services-wrap {
        display: none;
        float: left;
        width: 100%;
        background-color: #f8f8f8;
        padding: 80px 0
    }

    #intro-services-wrap .container {
        position: relative;
        margin: 0 auto
    }

    #intro-services {
        display: block;
        margin: 0 -20px
    }

    #intro-services .widget {
        float: left;
        width: calc(100% / 3);
        box-sizing: border-box;
        padding: 0 20px
    }

    .service-content {
        display: block;
        text-align: center
    }

    .service-icon {
        display: inline-block;
        width: 70px;
        height: 70px;
        text-align: center;
        border-radius: 100%;
        overflow: hidden
    }

    .service-icon img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
        color: transparent
    }

    .service-icon i {
        display: block;
        background-color: #f2f2f2;
        font-size: 30px;
        color: #f31e1e;
        line-height: 70px;
        font-weight: 400;
        font-style: normal;
        margin: 0
    }

    .service-title {
        font-size: 14px;
        color: #222222;
        font-weight: 700;
        text-transform: uppercase;
        margin: 25px 0 15px
    }

    .service-snippet {
        font-size: 14px;
        line-height: 24px;
        margin: 0
    }

    .head-text {
        float: left;
        width: 100%;
        text-align: center;
        margin: 0 0 50px
    }

    .head-text .widget-title>h3 {
        display: block;
        font-size: 27px;
        color: #222222;
        font-weight: 700;
        margin: 0 0 20px
    }

    .head-text .widget-content {
        font-size: 14px;
        margin: 0
    }

    #testimonial-wrap {
        display: none;
        float: left;
        width: 100%;
        margin: 0 0 75px
    }

    #testimonial-wrap .container {
        position: relative;
        margin: 0 auto
    }

    #testimonial {
        float: left;
        width: 100%;
        margin: 15px 0 0
    }

    #testimonial .widget {
        width: calc(50% - 20px);
        float: left
    }

    #testimonial .widget:nth-child(2) {
        float: right
    }

    .testi-avatar {
        float: left;
        width: 160px;
        height: 245px;
        overflow: hidden;
        margin: 0 30px 0 0
    }

    .testi-avatar img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        color: transparent;
        margin: 0
    }

    .testi-info {
        overflow: hidden
    }

    .testi-title {
        font-size: 20px;
        color: #222222;
        font-weight: 700;
        margin: 0 0 7px
    }

    .testi-meta {
        font-size: 12px;
        color: #aaa
    }

    .testi-snippet {
        background-color: #f8f8f8;
        font-size: 13px;
        line-height: 24px;
        padding: 15px 18px;
        margin: 15px 0 0
    }

    .main .widget {
        position: relative
    }

    .queryMessage {
        overflow: hidden;
        color: #222222;
        font-size: 13px;
        font-weight: 400;
        padding: 0 7px;
        margin: 0 0 25px
    }

    .queryMessage .search-query,
    .queryMessage .search-label {
        font-weight: 600;
        text-transform: uppercase
    }

    .queryMessage .search-query:before,
    .queryMessage .search-label:before {
        content: "\201c"
    }

    .queryMessage .search-query:after,
    .queryMessage .search-label:after {
        content: "\201d"
    }

    .queryMessage a.show-more {
        display: inline-block;
        color: #f31e1e;
        text-decoration: underline;
        margin: 0 0 0 10px
    }

    .queryEmpty {
        font-size: 13px;
        font-weight: 400;
        padding: 10px 0;
        margin: 0 0 25px;
        text-align: center
    }

    .blog-post {
        display: block;
        overflow: hidden;
        word-wrap: break-word
    }

    .index-post {
        position: relative;
        float: left;
        width: 25%;
        height: 190px;
        box-sizing: border-box;
        padding: 0 7px;
        margin: 0 0 14px
    }

    .index-post .post-image-wrap {
        float: left;
        width: 100%;
        height: 100%;
        margin: 0
    }

    .index-post .post-image-wrap .post-image-link {
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        z-index: 1;
        overflow: hidden
    }

    .index-post .post-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f31e1e;
        z-index: 5;
        opacity: 0;
        margin: 0;
        transition: opacity .35s ease
    }

    .post-image-wrap:hover .post-content {
        opacity: 1
    }

    .index-post .post-info {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        overflow: hidden;
        z-index: 2;
        padding: 15px
    }

    .index-post .post-info>h2 {
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        line-height: 1.5em;
        margin: 0 0 10px
    }

    .post-meta {
        color: #aaa;
        font-size: 12px;
        font-weight: 400
    }

    .index-post .post-meta {
        color: #f2f2f2
    }

    .post-meta .post-date {
        display: inline-block;
        margin: 0 7px 0 0
    }

    .widget iframe,
    .widget img {
        max-width: 100%
    }

    .item-post h1.post-title {
        font-size: 27px;
        color: #222222;
        line-height: 1.5em;
        font-weight: 700;
        position: relative;
        display: block;
        margin: 0 0 15px
    }

    .static_page .item-post h1.post-title {
        margin: 0
    }

    .item-post .post-header .post-meta {
        font-size: 13px
    }

    .item-post .post-body {
        display: block;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.6em;
        padding: 35px 0 0
    }

    .static_page .item-post .post-body {
        padding: 35px 0
    }

    .item-post .post-outer {
        padding: 0
    }

    .item-post .post-body img {
        max-width: 100%
    }

    .post-footer {
        position: relative;
        float: left;
        width: 100%;
        margin: 35px 0 40px
    }

    .post-labels {
        float: left;
        height: auto;
        position: relative
    }

    .post-labels a {
        float: left;
        height: 26px;
        background-color: #f9f9f9;
        color: #aaa;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 26px;
        padding: 0 10px;
        margin: 0 10px 0 0;
        border-radius: 3px;
        transition: all .17s ease
    }

    .post-labels a:hover {
        background-color: #f31e1e;
        color: #fff
    }

    .post-share {
        position: relative;
        float: right;
        overflow: hidden;
        line-height: 0
    }

    ul.share-links {
        position: relative
    }

    .share-links li {
        float: left;
        box-sizing: border-box;
        margin: 0 0 0 5px
    }

    .share-links li.whatsapp-mobile {
        display: none
    }

    .is-mobile li.whatsapp-desktop {
        display: none
    }

    .is-mobile li.whatsapp-mobile {
        display: inline-block
    }

    .share-links li a {
        float: left;
        display: inline-block;
        width: 35px;
        height: 26px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 26px;
        border-radius: 3px;
        transition: all .17s ease
    }

    .share-links li a:before {
        font-size: 14px
    }

    .share-links li a:hover {
        background-color: #f31e1e;
        color: #fff
    }

    .post-nav {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0
    }

    .post-nav .nav-link {
        display: block;
        height: 30px;
        background-color: #f9f9f9;
        font-size: 11px;
        color: #aaa;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 25px;
        border-radius: 3px;
        transition: all .17s ease
    }

    .post-nav .nav-link:hover {
        background-color: #f31e1e;
        color: #fff
    }

    .post-nav span.nav-link:hover {
        background-color: #f8f8f8;
        color: #999
    }

    .next-post-link {
        float: left
    }

    .prev-post-link {
        float: right
    }

    .next-post-link:after {
        content: "\f104";
        float: left;
        font-family: FontAwesome;
        font-size: 13px;
        font-weight: 400;
        text-transform: none;
        margin: 0 3px 0 0
    }

    .prev-post-link:before {
        content: "\f105";
        float: right;
        font-family: FontAwesome;
        font-size: 13px;
        font-weight: 400;
        text-transform: none;
        margin: 0 0 0 3px
    }

    #blog-pager {
        float: left;
        width: 100%;
        text-align: center;
        margin: 16px 0 0
    }

    .blog-pager a {
        display: inline-block;
        height: 32px;
        background-color: #f31e1e;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        text-transform: capitalize;
        text-align: center;
        padding: 0 20px;
        border-radius: 3px;
        transition: all .17s ease
    }

    .blog-pager a:hover {
        background-color: #222222
    }

    .blog-post-comments {
        display: none;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 10px 30px;
        margin: 0 0 40px
    }

    #comments {
        margin: 0
    }

    #gpluscomments {
        float: left !important;
        width: 100% !important;
        margin: 0 0 25px !important
    }

    #gpluscomments iframe {
        float: left !important;
        width: 100%
    }

    .comments {
        display: block;
        clear: both;
        margin: 0
    }

    .comments>h3 {
        float: left;
        width: 100%;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        margin: 0 0 20px
    }

    .no-comments>h3 {
        margin: 10px 0 15px
    }

    .comments .comments-content {
        float: left;
        width: 100%;
        margin: 0
    }

    #comments h4#comment-post-message {
        display: none
    }

    .comments .comment-block {
        position: relative;
        background-color: #fdfdfd;
        padding: 15px;
        margin: 0 0 0 55px;
        border: 1px solid #f2f2f2
    }

    .comments .comment-block:before {
        content: '';
        position: absolute;
        top: 8px;
        left: -5px;
        width: 0;
        height: 0;
        border: 5px solid #f2f2f2;
        border-top-color: transparent;
        border-right-color: transparent;
        transform: rotate(45deg)
    }

    .comments .comment-content {
        font-size: 13px;
        line-height: 1.6em;
        margin: 10px 0
    }

    .comment-thread .comment {
        position: relative;
        padding: 10px 0 0;
        margin: 10px 0 0;
        list-style: none
    }

    .comment-thread ol {
        padding: 0;
        margin: 0 0 20px
    }

    .comment-thread ol>li:first-child {
        padding: 0;
        margin: 0
    }

    .comment-thread .avatar-image-container {
        position: absolute;
        top: 10px;
        left: 0;
        width: 40px;
        height: 40px;
        overflow: hidden
    }

    .comment-thread ol>li:first-child>.avatar-image-container {
        top: 0
    }

    .avatar-image-container img {
        width: 100%;
        height: 100%
    }

    .comments .comment-header .user {
        font-size: 14px;
        color: #222222;
        display: inline-block;
        font-style: normal;
        font-weight: 700;
        margin: 0
    }

    .comments .comment-header .user a {
        color: #222222;
        transition: color .17s ease
    }

    .comments .comment-header .user a:hover {
        color: #f31e1e
    }

    .comments .comment-header .icon.user {
        display: none
    }

    .comments .comment-header .icon.blog-author {
        display: inline-block;
        font-size: 12px;
        color: #f31e1e;
        font-weight: 400;
        vertical-align: top;
        margin: 0 0 0 5px
    }

    .comments .comment-header .icon.blog-author:before {
        content: '\f058';
        font-family: FontAwesome
    }

    .comments .comment-header .datetime {
        float: right;
        display: inline-block;
        margin: 0
    }

    .comment-header .datetime a {
        font-size: 12px;
        color: #aaa;
        font-style: italic
    }

    .comments .comment-actions {
        display: block;
        margin: 0
    }

    .comments .comment-actions a {
        color: #aaa;
        font-size: 11px;
        font-style: italic;
        margin: 0 15px 0 0;
        transition: color .17s ease
    }

    .comments .comment-actions a:hover {
        color: #f31e1e;
        text-decoration: underline
    }

    .loadmore.loaded a {
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        text-decoration: none;
        margin-top: 15px
    }

    .comments .continue {
        display: none !important
    }

    .comments .comment-replies {
        padding: 0 0 0 55px
    }

    .thread-expanded .thread-count a,
    .loadmore {
        display: none
    }

    .comments .footer,
    .comments .comment-footer {
        font-size: 13px
    }

    .comment-form {
        margin: 0 -7.5px
    }

    .comment-form>p {
        font-size: 13px;
        padding: 10px 0 5px
    }

    .comment-form>p>a {
        color: #222222
    }

    .comment-form>p>a:hover {
        text-decoration: underline
    }

    .post-body h1,
    .post-body h2,
    .post-body h3,
    .post-body h4,
    .post-body h5,
    .post-body h6 {
        color: #222222;
        font-weight: 700;
        margin: 0 0 15px
    }

    .post-body h1,
    .post-body h2 {
        font-size: 24px
    }

    .post-body h3 {
        font-size: 21px
    }

    .post-body h4 {
        font-size: 18px
    }

    .post-body h5 {
        font-size: 16px
    }

    .post-body h6 {
        font-size: 13px
    }

    blockquote {
        background-color: #f8f8f8;
        font-style: italic;
        padding: 10px 15px;
        margin: 0;
        border-left: 3px solid #f31e1e
    }

    blockquote:before,
    blockquote:after {
        display: inline-block;
        font-family: FontAwesome;
        font-weight: 400;
        font-style: normal;
        line-height: 1
    }

    blockquote:before {
        content: '\f10d';
        margin: 0 10px 0 0
    }

    blockquote:after {
        content: '\f10e';
        margin: 0 0 0 10px
    }

    .widget .post-body ul,
    .widget .post-body ol {
        line-height: 1.5;
        font-weight: 400
    }

    .widget .post-body li {
        margin: 5px 0;
        padding: 0;
        line-height: 1.5
    }

    .post-body ul {
        padding: 0 0 0 20px
    }

    .post-body ul li:before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 13px;
        font-weight: 900;
        margin: 0 5px 0 0
    }

    .post-body u {
        text-decoration: underline
    }

    .post-body a {
        transition: color .17s ease
    }

    .post-body strike {
        text-decoration: line-through
    }

    .contact-form-widget form {
        font-weight: 400
    }

    .contact-form-name,
    .contact-form-email {
        float: left;
        width: calc(50% - 5px);
        height: 34px;
        background-color: rgba(255, 255, 255, 0.01);
        font-family: inherit;
        font-size: 13px;
        color: #fff;
        line-height: 34px;
        box-sizing: border-box;
        padding: 0 10px;
        margin: 0 0 10px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 3px
    }

    .contact-form-email {
        float: right
    }

    .contact-form-email-message {
        float: left;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.01);
        font-family: inherit;
        font-size: 13px;
        color: #fff;
        box-sizing: border-box;
        padding: 10px;
        margin: 0 0 10px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 3px
    }

    .contact-form-button-submit {
        float: left;
        width: 100%;
        height: 34px;
        background-color: #f31e1e;
        font-family: inherit;
        font-size: 12px;
        color: #fff;
        line-height: 34px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        box-sizing: border-box;
        padding: 0 10px;
        margin: 0;
        border: 0;
        border-radius: 3px;
        transition: background .17s ease
    }

    .contact-form-button-submit:hover {
        background-color: rgba(0, 0, 0, 0.5)
    }

    .contact-form-error-message-with-border,
    .contact-form-success-message-with-border {
        float: left;
        width: 100%;
        background-color: #e74c3c;
        color: #f2f2f2;
        font-size: 11px;
        text-align: center;
        line-height: 11px;
        padding: 4px 0;
        margin: 10px 0;
        border-radius: 3px
    }

    .contact-form-success-message-with-border {
        background-color: #3498db
    }

    .contact-form-cross {
        margin: 0 0 0 3px
    }

    .contact-form-error-message,
    .contact-form-success-message {
        margin: 0
    }

    #footer-wrapper {
        position: relative;
        overflow: hidden;
        background-color: #222222;
        margin: 0
    }

    #contact-area {
        display: none;
        overflow: hidden;
        padding: 60px 0
    }

    #contact-area>.container {
        margin: 0 auto
    }

    #contact-left {
        float: left;
        width: calc(45% - 40px)
    }

    #contact-right {
        float: right;
        width: 55%
    }

    #contact-area .widget-title>h3 {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 15px
    }

    .contact-col .Text .widget-content {
        font-size: 14px;
        color: #aaa;
        line-height: 24px;
        margin: 0 0 20px
    }

    .contact-col .LinkList .widget-title {
        display: none
    }

    .contact-item {
        display: block;
        overflow: hidden;
        font-size: 14px;
        line-height: 30px;
        margin: 15px 0 0
    }

    .contact-item.item-0 {
        margin: 0
    }

    .contact-icon {
        float: left;
        width: 30px;
        height: 30px;
        background-color: #f31e1e;
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        margin: 0 10px 0 0;
        border-radius: 3px
    }

    .item-desc {
        color: #aaa
    }

    #footer-copyright {
        display: block;
        overflow: hidden;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        color: #aaa;
        padding: 20px 0
    }

    #footer-copyright>.container {
        margin: 0 auto
    }

    #social-footer {
        float: right
    }

    #social-footer .widget {
        line-height: 30px
    }

    .social-footer ul {
        text-align: center;
        overflow: hidden;
        display: block
    }

    .social-footer ul li {
        display: inline-block;
        margin: 0 0 0 14px
    }

    .social-footer ul li a {
        font-size: 16px;
        color: #aaa;
        display: block;
        padding: 0 3px;
        transition: color .17s ease
    }

    .social-footer ul li:last-child a {
        padding-right: 0
    }

    .social-footer ul li a:hover {
        color: #f31e1e
    }

    #footer-copyright .copyright-area {
        font-size: 12px;
        line-height: 30px
    }

    #footer-copyright .copyright-area a {
        color: #f31e1e
    }

    #footer-copyright .copyright-area a:hover {
        text-decoration: underline
    }

    .hidden-widgets {
        display: none;
        visibility: hidden
    }

    .back-top {
        display: none;
        z-index: 1010;
        width: 32px;
        height: 32px;
        position: fixed;
        bottom: 25px;
        right: 25px;
        background-color: #f31e1e;
        cursor: pointer;
        overflow: hidden;
        font-size: 19px;
        color: #fff;
        text-align: center;
        line-height: 32px;
        border-radius: 3px
    }

    .back-top:after {
        content: '\f106';
        position: relative;
        font-family: FontAwesome;
        font-weight: 400
    }

    .error404 #main-wrapper {
        width: 100% !important;
        margin: 0 !important
    }

    .error404 #sidebar-wrapper {
        display: none
    }

    .errorWrap {
        color: #222222;
        text-align: center;
        padding: 60px 0 100px
    }

    .errorWrap h3 {
        font-size: 130px;
        line-height: 1;
        margin: 0 0 30px
    }

    .errorWrap h4 {
        font-size: 25px;
        margin: 0 0 20px
    }

    .errorWrap p {
        margin: 0 0 10px
    }

    .errorWrap a {
        display: block;
        color: #f31e1e;
        padding: 10px 0 0
    }

    .errorWrap a i {
        font-size: 14px
    }

    .errorWrap a:hover {
        text-decoration: underline
    }

    @media (max-width: 1040px) {
        .row {
            width: 100%
        }

        #header-wrap,
        #intro-author-wrap .container,
        #content-wrapper,
        #testimonial-wrap .container,
        #contact-area>.container,
        #footer-copyright>.container {
            box-sizing: border-box;
            padding: 0 20px
        }

        #intro-services-wrap {
            box-sizing: border-box;
            padding: 80px 20px
        }
    }

    @media (max-width: 980px) {
        #main-menu {
            display: none
        }

        .mobile-menu-wrap,
        .mobile-menu-toggle {
            display: block
        }

        #content-wrapper>.container {
            margin: 0
        }
    }

    @media (max-width: 780px) {
        #main-intro {
            height: 380px
        }

        #intro-author,
        #intro-author-photo {
            width: 50%
        }

        .index-post {
            width: 50%
        }

        #testimonial .widget {
            width: 100%
        }

        #testimonial .widget:first-child {
            margin: 0 0 35px
        }

        #social-footer {
            width: 100%;
            margin: 0 0 10px
        }

        .social-footer ul li {
            margin: 0 7px
        }

        #footer-copyright .copyright-area {
            width: 100%;
            text-align: center;
            overflow: hidden
        }

        .errorWrap {
            padding: 60px 0 80px
        }
    }

    @media (max-width: 680px) {
        .intro-content {
            width: 100%;
            box-sizing: border-box;
            padding: 0 40px
        }

        #intro-author,
        #intro-author-photo {
            width: 100%
        }

        #intro-author-photo {
            padding: 0;
            margin: 0 0 15px
        }

        #intro-author-photo .author-image {
            background-position: center
        }

        #intro-services .widget {
            width: 100%;
            margin: 50px 0 0
        }

        #intro-services .widget:first-child {
            margin: 0
        }

        #contact-left,
        #contact-right {
            width: 100%
        }

        #contact-left .widget:last-child {
            margin: 0 0 35px
        }

        .post-labels {
            width: 100%;
            margin: 0 0 25px
        }

        .post-labels a {
            margin: 0 10px 5px 0
        }

        .post-share {
            float: left
        }

        .share-links li {
            margin: 5px 5px 0 0
        }
    }

    @media (max-width: 540px) {
        #main-intro {
            height: auto
        }

        .intro-content {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            padding: 50px 30px
        }

        .intro-title {
            font-size: 27px
        }

        #intro-author-wrap {
            padding: 50px 0
        }

        #intro-author-photo {
            height: 300px
        }

        #content-wrapper {
            margin: 50px 0
        }

        .item #content-wrapper {
            margin: 40px 0
        }

        .testi-avatar {
            width: 130px;
            height: 200px
        }
    }

    @media (max-width: 440px) {
        .item-post h1.post-title {
            font-size: 23px
        }

        .head-text .widget-content {
            line-height: 24px
        }
    }

    @media (max-width: 360px) {

        .intro-title,
        .author-title,
        .head-text .widget-title>h3 {
            font-size: 25px
        }

        .index-post {
            width: 100%
        }

        .testi-avatar {
            width: 100%;
            height: 250px;
            margin: 0 0 15px
        }

        .testi-info {
            float: left
        }

        .errorWrap h3 {
            font-size: 120px
        }

        .errorWrap h4 {
            font-weight: 600
        }
    }
    -->
    </style>
    <style>
    /*-------Typography and ShortCodes-------*/
    .firstcharacter {
        float: left;
        color: #27ae60;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px
    }

    .post-body h1,
    .post-body h2,
    .post-body h3,
    .post-body h4,
    .post-body h5,
    .post-body h6 {
        margin-bottom: 15px;
        color: #2c3e50
    }

    blockquote {
        font-style: italic;
        color: #888;
        border-left: 5px solid #27ae60;
        margin-left: 0;
        padding: 10px 15px
    }

    blockquote:before {
        content: '\f10d';
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;
        color: #888
    }

    blockquote:after {
        content: '\f10e';
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 10px;
        color: #888
    }

    .button {
        background-color: #2c3e50;
        float: left;
        padding: 5px 12px;
        margin: 5px;
        color: #fff;
        text-align: center;
        border: 0;
        cursor: pointer;
        border-radius: 3px;
        display: block;
        text-decoration: none;
        font-weight: 400;
        transition: all .3s ease-out !important;
        -webkit-transition: all .3s ease-out !important
    }

    a.button {
        color: #fff
    }

    .button:hover {
        background-color: #27ae60;
        color: #fff
    }

    .button.small {
        font-size: 12px;
        padding: 5px 12px
    }

    .button.medium {
        font-size: 16px;
        padding: 6px 15px
    }

    .button.large {
        font-size: 18px;
        padding: 8px 18px
    }

    .small-button {
        width: 100%;
        overflow: hidden;
        clear: both
    }

    .medium-button {
        width: 100%;
        overflow: hidden;
        clear: both
    }

    .large-button {
        width: 100%;
        overflow: hidden;
        clear: both
    }

    .demo:before {
        content: "\f06e";
        margin-right: 5px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .download:before {
        content: "\f019";
        margin-right: 5px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .buy:before {
        content: "\f09d";
        margin-right: 5px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .visit:before {
        content: "\f14c";
        margin-right: 5px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .widget .post-body ul,
    .widget .post-body ol {
        line-height: 1.5;
        font-weight: 400
    }

    .widget .post-body li {
        margin: 5px 0;
        padding: 0;
        line-height: 1.5
    }

    .post-body ul li:before {
        content: "\f105";
        margin-right: 5px;
        font-family: fontawesome
    }

    pre {
        font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
        background-color: #2c3e50;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
        background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
        background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
        background-image: -o-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
        background-image: linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);
        -webkit-background-size: 100% 50px;
        -moz-background-size: 100% 50px;
        background-size: 100% 50px;
        line-height: 25px;
        color: #f1f1f1;
        position: relative;
        padding: 0 7px;
        margin: 15px 0 10px;
        overflow: hidden;
        word-wrap: normal;
        white-space: pre;
        position: relative
    }

    pre:before {
        content: 'Code';
        display: block;
        background: #F7F7F7;
        margin-left: -7px;
        margin-right: -7px;
        color: #2c3e50;
        padding-left: 7px;
        font-weight: 400;
        font-size: 14px
    }

    pre code,
    pre .line-number {
        display: block
    }

    pre .line-number a {
        color: #27ae60;
        opacity: 0.6
    }

    pre .line-number span {
        display: block;
        float: left;
        clear: both;
        width: 20px;
        text-align: center;
        margin-left: -7px;
        margin-right: 7px
    }

    pre .line-number span:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.11)
    }

    pre .line-number span:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.05)
    }

    pre .cl {
        display: block;
        clear: both
    }

    #contact {
        background-color: #fff;
        margin: 30px 0 !important
    }

    #contact .contact-form-widget {
        max-width: 100% !important
    }

    #contact .contact-form-name,
    #contact .contact-form-email,
    #contact .contact-form-email-message {
        background-color: #FFF;
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px !important;
        max-width: 100% !important
    }

    #contact .contact-form-name {
        width: 47.7%;
        height: 50px
    }

    #contact .contact-form-email {
        width: 49.7%;
        height: 50px
    }

    #contact .contact-form-email-message {
        height: 150px
    }

    #contact .contact-form-button-submit {
        max-width: 100%;
        width: 100%;
        z-index: 0;
        margin: 4px 0 0;
        padding: 10px !important;
        text-align: center;
        cursor: pointer;
        background: #27ae60;
        border: 0;
        height: auto;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        text-transform: uppercase;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: #FFF
    }

    #contact .contact-form-button-submit:hover {
        background: #2c3e50
    }

    #contact .contact-form-email:focus,
    #contact .contact-form-name:focus,
    #contact .contact-form-email-message:focus {
        box-shadow: none !important
    }

    .alert-message {
        position: relative;
        display: block;
        background-color: #FAFAFA;
        padding: 20px;
        margin: 20px 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #2f3239;
        border: 1px solid
    }

    .alert-message p {
        margin: 0 !important;
        padding: 0;
        line-height: 22px;
        font-size: 13px;
        color: #2f3239
    }

    .alert-message span {
        font-size: 14px !important
    }

    .alert-message i {
        font-size: 16px;
        line-height: 20px
    }

    .alert-message.success {
        background-color: #f1f9f7;
        border-color: #e0f1e9;
        color: #1d9d74
    }

    .alert-message.success a,
    .alert-message.success span {
        color: #1d9d74
    }

    .alert-message.alert {
        background-color: #DAEFFF;
        border-color: #8ED2FF;
        color: #378FFF
    }

    .alert-message.alert a,
    .alert-message.alert span {
        color: #378FFF
    }

    .alert-message.warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b
    }

    .alert-message.warning a,
    .alert-message.warning span {
        color: #8a6d3b
    }

    .alert-message.error {
        background-color: #FFD7D2;
        border-color: #FF9494;
        color: #F55D5D
    }

    .alert-message.error a,
    .alert-message.error span {
        color: #F55D5D
    }

    .fa-check-circle:before {
        content: "\f058"
    }

    .fa-info-circle:before {
        content: "\f05a"
    }

    .fa-exclamation-triangle:before {
        content: "\f071"
    }

    .fa-exclamation-circle:before {
        content: "\f06a"
    }

    .post-table table {
        border-collapse: collapse;
        width: 100%
    }

    .post-table th {
        background-color: #eee;
        font-weight: bold
    }

    .post-table th,
    .post-table td {
        border: 0.125em solid #333;
        line-height: 1.5;
        padding: 0.75em;
        text-align: left
    }

    @media (max-width: 30em) {
        .post-table thead tr {
            position: absolute;
            top: -9999em;
            left: -9999em
        }

        .post-table tr {
            border: 0.125em solid #333;
            border-bottom: 0
        }

        .post-table tr+tr {
            margin-top: 1.5em
        }

        .post-table tr,
        .post-table td {
            display: block
        }

        .post-table td {
            border: none;
            border-bottom: 0.125em solid #333;
            padding-left: 50%
        }

        .post-table td:before {
            content: attr(data-label);
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            margin-left: -100%;
            width: 100%
        }
    }

    @media (max-width: 20em) {
        .post-table td {
            padding-left: 0.75em
        }

        .post-table td:before {
            display: block;
            margin-bottom: 0.75em;
            margin-left: 0
        }
    }

    .FollowByEmail {
        clear: both;
    }

    .widget .post-body ol {
        padding: 0 0 0 15px;
    }

    .post-body ul li {
        list-style: none;
    }